# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WarmUpProject_AdvanceLevelCourse-master\WarmUpProject_AdvanceLevelCourse-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
